@import '_styles/variables';
@import '_styles/mixins';

.formContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.fields {
  margin-bottom: 4rem;
}

.field {
  position: relative;
  background-color: #F5F7FA;
  border-radius: 1rem;

  & + .field {
    margin-top: 2rem;
  }
}


.input {
  position: relative;
  z-index: 5;
  padding: 1.3rem 2.3rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: #F5F7FA;
  font: normal 400 1.6rem/1.5 $font-primary;
  color: $color-gray3;

  &::placeholder {
    color: $color-gray3;
  }

  &:-webkit-autofill {
    &,
    &:hover,
    &:focus {
      box-shadow: 0 0 0 100px #F5F7FA inset;
      background-color: #F5F7FA !important;
      filter: none;
      caret-color: $color-black;
      transition: background-color 10000s ease-in-out 0s;
      -webkit-text-fill-color: $color-black;

      &::first-line {
        // the same as input font
        font: normal 400 1.6rem/1.5 $font-primary;
      }
    }
  }
}

.label {
  position: absolute;
  z-index: 5;
  top: -1rem;
  left: 2rem;
}

.error {
  position: absolute;
  z-index: 5;
  bottom: -1rem;
  left: 0;
  color: $color-red;
}

.submitBtn {
  width: 100%;
  background: linear-gradient(105.8deg, #2FD6ED -11.87%, #0393E3 141.35%);
  border-radius: 1rem;
  padding: 1.5rem;

  transition: opacity 0.2s ease, box-shadow 0.2s ease,
  border-color 0.2s ease;

  span:first-child {
    font: normal 700 2rem/120% $font-primary;
    text-transform: capitalize;
    color: $color-white;
    transition: color 0.2s ease;
  }

  &:disabled {
    background: #D5E1E7;
    pointer-events: none;
  }

  /* media hover */
  @media (hover: hover) {
    &:hover,
    &:active {
    }
  }
  @media (hover: none) {
    -webkit-tap-highlight-color: transparent;

    &:active {
      background-color: lighten($color-yellow, 2.5%);
      transition: unset;
    }
  }
}