@import '_styles/variables';
@import '_styles/mixins';

.inlineBtn{
  span {
    font: normal 400 1.6rem/120% $font-primary;
    color: $color-blue2;
    transition: color 0.2s ease;
  }

  /* media hover */
  @media (hover: hover) {
    &:hover {
      span {
        color: $color-blue;
      }
    }
  }
  @media (hover: none) {
    &:active {
      span {
        color: $color-blue;
        transition: unset;
      }
    }
  }
}