@import '_styles/variables';
@import '_styles/mixins';

.mainLayout {
  width: 100%;
  height: 100%;
  background-color: $color-violet;
}

.mainLayoutContainer {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  gap: 1.6rem;
}

.catalogBtn {
  max-width: 15rem;
  width: 100%;
  padding: .5rem 1rem;
  border: 1px solid $color-violet2;
  border-radius: .5rem;
}

.search {
  width: 100%;
  padding: .5rem 1rem;
  border: 1px solid $color-violet2;
  border-radius: .5rem;
}

.control {
  display: flex;
  gap: 1.6rem;

  button {
    max-width: 10rem;
    width: 100%;
    padding: .5rem 1rem;
    border: 1px solid $color-violet2;
    border-radius: .5rem;
  }
}