@import '_styles/variables';
@import '_styles/mixins';

.selectionProductsWrapper {
  display: flex;
  flex-direction: column;

  & + .selectionProductsWrapper{
    margin-top: 3rem;
  }
}

.title {
  font: normal 700 2.4rem/150% $font-primary;
  color: $color-black;
  margin-bottom: 3rem;
}


.selectionProducts {
  display: grid;
  grid-template-columns: repeat(3, 28.5rem);
  gap: 2rem;
  margin-bottom: 2rem;
}

.productCard {
  background-color: #FFFFFF;
  border: 1px solid #F1F6F8;
  box-shadow: 0 0 4.2rem rgba(0, 0, 0, 0.04);
  border-radius: 1rem;
  min-height: 17rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    &:first-child {
      font: normal 500 1.8rem/150% $font-primary;
      color: $color-black;
    }

    &:last-child {
      font: normal 700 2rem/150% $font-primary;
      color: #0393E3;
      text-align: right;
    }
  }
}

.productDisabledCard {
  @extend .productCard;
  opacity: .6;
  user-select: none;


  p {
    &:first-child {
      opacity: 0.1;
    }

    &:last-child {
      color: #BDBDBD;
    }
  }
}
.moreBtn{
  display: flex;
  justify-content: right;

  button{
    font: normal 400 2rem/120% $font-primary;
    color: #0393E3;
  }
}
